@{
  Layout = "_Layout";
}

@model PSAS.Models.Flavor

<h2>Add an treat</h2>


@if (ViewBag.TreatsAreNotHired)
{
  <h4>You havn't added any treats</h4>
}
else
{
  <h4>Add an treat to this flavor: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select treat")
    @Html.DropDownList("treatId")

    <input type="submit" value="Save" />
  }
}
<p>@Html.ActionLink("Back to flavors list", "Index")</p>